<div class="container col-xs-12 col-md-6 col-lg-3">
    <div *ngIf="!isLoginMode ; else headerPlaceholder">
        <div class="text-center mb-4 mt-5">
            <img src="assets/images/logo.png">
        </div>
        <div class="text-center log-pelatis-header-text mb-4">
            Check out Pelatis - it's free!
        </div>
        <div class="text-center paragraph-3-regular mb-4">
            Pelátis helps freelancers, consultants, and small businesses
            around the Sri Lanka simplify their finances.
        </div>
    </div>
    <ng-template #headerPlaceholder>
        <div style="height: 10rem;"></div>
    </ng-template>
    <div class="shadow p-5 mb-5 bg-body rounded bg-white">
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
            <div *ngIf="isLoginMode" class="heading-3-bold text-center mb-4">Sign in to your account</div>
            <div *ngIf="error" class="alert alert-danger alert-dismissible fade show border border-danger"
                role="alert">
                <div class="label-7-regular text-danger">{{error}}</div>
                <button type="button" class="btn-close text-danger" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="form-floating">
                <input type="email" id="email" placeholder="email" class="form-control form-input" ngModel name="email"
                    required email>
                <label for="email" class="label-2-regular">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" id="password" placeholder="password" class="form-control form-input" ngModel
                    name="password" required minlength="6">
                <label for="password" class="label-2-regular">Password</label>
            </div>
            <div *ngIf="!isLoginMode" class="paragraph-1-regular d-flex justify-content-between mb-1">
                At least 6 characters, but longer is better.
                <a class="link-medium-2">Show</a>
            </div>

            <div class="w-100 pt-3">
                <button *ngIf="!isLoading; else loadingSpinnerBlock"
                    class="btn btn-primary btn-lg btn-block w-100 submit-button" type="submit"
                    [disabled]="!authForm.valid">{{ isLoginMode ?
                    "Login" : "Get started"}}</button>

                <ng-template #loadingSpinnerBlock>

                    <div class="text-center" style="height: 3rem">
                        <app-loading-spinner></app-loading-spinner>
                    </div>
                </ng-template>

            </div>
            <div class="text-center p-4 paragraph-2-regular">
                <span *ngIf="isLoginMode; else notLoginMode">Don't have an account </span>
                <ng-template #notLoginMode>Already have and account </ng-template> ?
                <a class="link-medium" (click)="onSwitchMode()">
                    <span *ngIf="isLoginMode; else notLoginModeAction">Sign Up </span>
                    <ng-template #notLoginModeAction>Sign In </ng-template>
                </a>
            </div>
        </form>

        <div *ngIf="!isLoginMode" class="paragraph-small">
            By singing up, you are idicating that you have read and agree to the
            <a class="link-small">Terms of Use and Privacy Policy</a>
        </div>
    </div>


    <div class="text-center" [ngClass]="{'absolute-bottom-logo': pelatisBottomLogoAboslute}">
        <img src="assets/images/pelatis_logo.png">
    </div>


</div>