// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.submit-button {
    border-radius: 0.8rem;
    background-color: #511fb7 !important;
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 4rem;
    padding: 0.8rem;
    cursor: pointer;
    box-shadow: none !important;
}

.submit-button-2 {
    border-radius: 0.4rem;
    background-color: #511fb7 !important;
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 4rem;
    padding: 0.8rem;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    box-shadow: none !important;
}

.side-navbar-button {
    border-radius: 0.6rem;
    background-color: none !important;
    font-family: "Inter", "sans-serif";
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 2.4rem;
    height: 4rem;
    padding: 0.8rem;
    text-align: start;
    cursor: pointer;
    box-shadow: none !important;

    
}

.side-navbar-button:hover {
    background-color: rgba(110, 65, 226, 0.16);

}

.submit-button:hover,
.submit-button-2:hover {
    background-color: #3e1296;
}

button:disabled {
    background-color: #e3daf9 !important;
    border-style: none;
}
