// Headings
.heading-1 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 4.4rem;
    color: #3d3d3d;
}

.heading-3 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #4F4F4F;
}

.heading-4 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #666666;
}

.heading-5{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000000;
}

.heading-6{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #000000;
}

.heading-7 {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 3.75rem;
    align-items: center;
    color: #000000;
    text-align: center;
}