

.link-small {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.45rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}


.link-medium {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;

}

.link-medium-2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}


.link-item-general {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}

.link-item-menu {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}