/**
 * Basic typography style for copy text
 */
@import 'typography/_typography-dir';

 body {
    color: $text-color;
    font: normal 125% / 1.4 $text-font-stack;
}

.center-text {
    text-align: center;
}