<div class="row" style="box-shadow: 1px 1px 1px 0px #E0E1E4; height: 50px;">
    <div class="col"></div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="heading-1-bold mx-4 my-5">Home</div>
    </div>
    <div class="row container-fluid">
        <div class="col-md-4">
            <app-action-list [canDoItems]="canDoItems"></app-action-list>
        </div>
        <div class="col-md-8">
            <app-business-stats 
                [cashFlowData]="cashFlowData$"
                [netIncomeData]="(netIncomeData$ | async) || netIncomeDataInit"
                [loading]="(loading$ | async) || false"></app-business-stats>
        </div>
    </div>
</div>