<div class="container-fluid">
  <div class="row">
      <div class="heading-3 mx-4 my-5" style="color: #535461;">Create a business</div>
  </div>
  <div class="row container-fluid">

      <div class="col-lg-6 col-sm-12 col-xs-12">
        <app-custom-input [label]="'Comapny Name'" [formControlName]="'comapny-name'" [controlId]="'comapny-name'" ></app-custom-input>
        <!-- <app-custom-select  [label]="'Type of Business'" [formControlName]="'type-of-business'" [controlId]="'type-of-business'" [selectMenuOptions]="businessTypeOptions"></app-custom-select> -->

      </div>
  </div>
</div>