<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper"
    [ngStyle]="{'margin-left':(menuState | async) ?'0rem':'-25rem'}">
    <div class="sidebar-heading" *ngIf="(menuCategory | async) === 'HOME'">HOME PAGE</div>
    <div class="list-group list-group-flush" *ngFor="let item of menuItems | async">

        <a href="#" class="list-group-item list-group-item-action bg-light label-3-medium">
            <div class="container">
                <div class="row">
                  <div class="col-sm-2">
                    <i [ngClass]="item.icon" class="p-1 icon" style="font-size:2rem;"> </i>                  </div>
                  <div class="col-sm" style="margin-top: .2rem;">
                    {{item.name}}                  </div>
                </div>
              </div>
        </a>
    </div>

    <a (click)="onLogoutClick()">Logout</a>
</div>
<!-- /#page-content-wrapper -->