body {
  overflow-x: hidden;
}
#sidebar-wrapper {
  min-height: 100vh;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
  background-color: #FBFBFF;
  box-shadow: 1px 0px 0px #E0E1E4;
}
#sidebar-wrapper .sidebar-heading {
  padding: 2rem 2rem;
}
#sidebar-wrapper .list-group {
  width: 25rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
// @media (min-width: 768px) {
//   #sidebar-wrapper {
//     margin-left: 0;
//   }
//   #page-content-wrapper {
//     min-width: 0;
//     width: 100%;
//   }
//   // #wrapper.toggled #sidebar-wrapper {
//   //   margin-left: -15rem;
//   // }
// }

.icon {
  position: relative;
  vertical-align: middle;
}

.menu-icon {
  color:#7b61ff ;
}


.header-title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
  
    color: #535461;
}

.header-sidebar-wrapper {
    background-color: #FBFBFF;
    box-shadow: 1px 1px 1px 0px #E0E1E4;
}

.dropdown-menu-item-row{
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #E0E1E4(0, 0, 0, 0.1);
}