// Headings
.heading-1-bold {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4.4rem;
    display: flex;
    align-items: center;
    color: #3d3d3d;
}

.heading-3-bold {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.4rem;
    color: #4F4F4F;
    vertical-align: top;
    align-self: left;
}

.heading-4-bold {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2.8rem;
    color: #666666;
}


// Labels

.label-2-regular {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.8rem;
    /* identical to box height, or 150% */

    text-align: left;

    /* Text/subdued */

    color: #666666;
}

.label-3-medium {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2rem;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;

    :hover {
        color: #511FB7;
    }
}

.label-7-regular {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.8rem;
    /* identical to box height, or 143% */
}

.link-small {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.45rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}


.link-medium {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}

.link-medium-2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}


.link-item-general {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-decoration: none;
    cursor: pointer;
    /* identical to box height */

    color: #7b61ff;
}

// Paragraph

.paragraph-1-regular{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.57rem;
    text-align: center;
    color: #000000;
}

.paragraph-2-regular{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    color: #000000;
}

.paragraph-3-regular {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #535461;
}

.paragraph-small{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.45rem;
    text-align: center;
    color: #828282;
}

// Table

.label-table-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: right;

    color: #65617d;
}

.label-table-row-header {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;

    color: #65617d;
}

.label-table-data-1 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: right;

    color: #6c63ff;
}

div {
    color: #3d3d3d;
}

table.table-border-style {
    border: none;
    border-collapse: collapse;

    td {
        border-bottom: 1px solid #E0E0E0;
        padding-top: 1rem;

        :first-child {
            border-left: none;
        }

        :last-child {
            border-right: none;
        }
    }

    th {
        border-bottom: 2px solid #e0e1e4;
    }
}
