<div class="form-floating" >
  <select class="form-select form-input-2" id="dynamicSelect" aria-label="Floating label select" [ngModel]="value" (ngModelChange)="onChange($event)" (blur)="onTouched()">
      <option selected [ngValue]="null" disabled>{{label}}</option>
      <option [ngValue]="menuOption.key" *ngFor="let menuOption of selectMenuOptions | keyvalue">
          {{menuOption.value}}</option>
  </select>
  <label for="dynamicSelect" class="input-label-2-regular">{{label}}</label>
</div>